*,*::before,*::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}

body{
font-family: 'Space Mono', monospace;
}

.container{
padding: .5rem;
}

.wrapper{
width: 90%;
margin: 0 auto;
padding: .5rem;
}

.imgHolder{
margin-top: 4rem;
margin-bottom: 3.75rem;
}

.imgHolder img{
width: 100%;
animation: imgAnime 4s linear infinite;
position: relative;
}


.text404 h1{
font-size: 35px;
font-weight: 700;
text-align: left;
margin-bottom: 1.8rem;
    
}

.text404 p{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.035em;
text-align: left;  
}

.text404 button{
width: 216px;
height:4.2rem;
background-color: #333;
text-transform: uppercase;
border: none;
margin-top: 2.3rem;
transition:all .4s;
color: white;
cursor:pointer;
position: relative;
z-index: 1;
}

.text404 button::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
background-color:#60588e;
transition:all .4s;
z-index: -1;
}

.text404 button:hover{
letter-spacing: 1px;
}

.text404 button:hover::before{
width: 100%;
}



@keyframes imgAnime {
0%  {transform: translateY(-40px);}
25% {transform: translateY(30px);}
50% {transform: translateY(20px);}
75% {transform: translateY(10px);}
100%{transform: translateY(0px)}
}

footer{
text-align: center;
}



@media(min-width:1008px) {

    .imgHolder{
    margin: 0;
        
    }

    .wrapper{
    display: flex;
    align-items: center;
    gap:8%;

    }

    .text404 h1{
    font-size: 55px;
    }

    .text404 p{
    font-size: 24px;
    line-height: 2.2rem;
    max-width: 381px;
    }

    
}